.button{
    margin: 10px;
    font-weight: bolder;
    height: 35px;
    width: 130px;
    background-color:chocolate;    
}
.button:hover {    
    color: white;
    cursor: pointer;
}
.button:active {  
  color: white;
  box-shadow: 0 5px black;
  transform: translateY(4px);
}