body{
    background-color:cadetblue;
    margin: 0;
}
.grid-container{      
    display: grid;   
    column-gap: 5px;
    grid-template-columns:repeat(6, 1fr) ;   
    grid-template-areas: "bar bar bar bar bar bar"  
                          "header header header header header header"
                          "main main main main main main"                          
                          "footer footer footer footer footer footer";
}

#navbar-container{
    margin-top: 0;
    background-color: black;   
    grid-area:bar;     
}

#header{ 
    margin-top:50px;  
    grid-area: header;
    text-align: center;
    font-family: Spinnaker;      
 }
 .form-item{
    height: 25px;
}

 #main{   
    grid-area: main;
 }

 #footer{       
    grid-area: footer;    
    text-align: center;    
    color: white;
    background-color:black; 
    
 }
 .trade-mark{
     margin: 10px 0px;
 }